<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">

    <a class="navbar-brand " href="#">
      <img src="/img/logo.png" alt="Logo" height="40">
    </a>

    <div class="collapse navbar-collapse">
        <form class="d-flex align-items-center mx-auto" role="search">
            <div class="input-group me-3">

            <input
                type="search"
                class="form-control"
                placeholder="Tìm kiếm sản phẩm..."
                aria-label="Search"
            />

            <button class="btn btn-dark" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>

            </div>
        </form>

        <div class="icon ms-auto">
            <a href="#" class="text-dark">
                <i class="fa-regular fa-user fs-4"></i>
            </a>
        </div>

    </div>

  </div>
</nav>
