<!DOCTYPE html>
<html>
<head>
  <title>{{product.name}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

</head>
<body>



{{> product/details product=product}}

<script src="/js/details.js"></script>

<script>
  const product = {{{productJson}}}
  console.log(product)
</script>

</body>
</html>
