<h2>Quản lí đơn hàng</h2>

<button id='btnReloadOrders'>Cập nhật</button>

<table id='ordersTable' class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Mã đơn</th>
            <th>Sản phẩm</th>
            <th>Tổng tiền</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>
</table>
<script src='/js/admin/orders.js'></script>