<h2>Quản lí người dùng</h2>

<table id='usersTable' class='table'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên người dùng</th>
            <th>Email</th>
            <th>Mật khẩu</th>
            <th>Hành động</th>
        </tr>
    </thead>
</table>
<script src='/js/admin/users.js'></script>