<nav class='navbar navbar-expand-lg navbar-dark bg-light py-0 auto'>
    <div class='container-fluid'>
        <div class='collapse navbar-collapse'>
            <ul class='navbar-nav bg-light'>

                <li class='nav-item border-0 border-end border-dark'>
                    <a class='nav-link' href='#'>Quản lí sản phẩm</a>
                </li>

                <li class='nav-item border-0 border-end border-dark'>
                    <a class='nav-link' href='#'>Quản lí đơn hàng</a>
                </li>

                <li class='nav-item border-0 border-dark'>
                    <a class='nav-link' href='#'>Quản lí người dùng</a>
                </li>

            </ul>
        </div>
    </div>
</nav>